# Google Sheets Dashboard
# Get your spreadsheet ID from the URL: https://docs.google.com/spreadsheets/d/[SPREADSHEET_ID]/edit
NEXT_PUBLIC_DASHBOARD_URL=https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit
